@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Work+Sans:wght@300&display=swap');

@import "./Components/Alert/alert.css";
@import "./Components/Avatar/avatar.css";
@import "./Components/Badge/badge.css";
/* style="width: 950px; height: 250px; border:0;overflow:scroll;" */
                    

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    word-wrap: break-word;
    letter-spacing: 1px;;
}

:root{
    --BACKGROUND-COLOR:#FFF;
    --PRIMARY-COLOR: #010101;
    --HIGHLIGHT-COLOR: #374151;
    --SUCCESS-BACKGROUND_COLOR: #bbf7d0;
    --SUCCESS-COLOR: #16a34a;
    --DANGER-BACKGROUND_COLOR: #fecaca;
    --DANGER-COLOR: #dc2626;
    --WARNING-BACKGROUND_COLOR: #fde68a;
    --WARNING-COLOR: #f59e0b;
    --INFO-BACKGROUND_COLOR: #a5f3fc;
    --INFO-COLOR: #0891b2;
    --INDICATOR-GREEN: #10b981;
    --INDICATOR-RED: #f44336;
}

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
}

.code-container{
    align-items: center;
    margin-bottom: 1rem ;
}


/* ------utility-classes------ */
.fs-xl{
    font-size: 4rem;
}

.fs-m{
    font-size: 2rem;
}

.fs-l{
    font-size: 3rem;
}

.fs-s{
    font-size: 1.5rem;
}

.mb-2{
    margin-bottom: 2rem;
}

.mb-4{
    margin-bottom: 4rem;
}

.mr-2{
    margin-right: 2rem;
}

.fix-top{
    position: fixed;
    top:0;
}

.d-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-wrap{
    flex-wrap: wrap;
}


/* -------header start-------- */
.header{
    background-color: var(--PRIMARY-COLOR);
    padding: 2rem;
    width: 100vw;
    z-index: 2;
}

.header-nav-link,
.brand-link{
    text-decoration: none;
    color: var(--BACKGROUND-COLOR);
    margin-right: 2rem;
}

.brand-link{
    font-size: 4rem;
}

.header-nav-link{
    font-size: 3rem;
}

/* -------main start---------------- */
main{
    margin-top: 8rem;
    display: grid;
    grid-template-areas: 
    "side-nav documentation documentation"
    ;
}

/* ---------side-nav start---------- */
.nav-link > a{
    color: var(--PRIMARY-COLOR);
}

.side-nav{
    grid-area: side-nav;
    padding: 5rem 5rem;
    border-right: 2px solid var(--PRIMARY-COLOR);
    position: sticky;
    top: 7rem;
    overflow-y: scroll;
    height: calc(100vh - 7rem);
}

.nav-link{
    list-style: none;
    margin-bottom: 3rem;
}

/* ------documentation start----- */
.documentation{
    grid-area: documentation;
    padding: 4rem;
}

.section{
    border:1px solid var(--PRIMARY-COLOR);
    padding: 2rem;
    border-radius: 1.5rem;
}

.section > p{
    font-weight: lighter;
}

section > *{
    margin-bottom: 3rem;
}

section > iframe{
    margin: 0 auto;
}

.highlight{
    font-weight: bold;
}

@media only screen and (max-width: 900px){
    html{
        font-size: 62.5%;
        /* overflow-x: hidden; */
    }

    .side-nav{
        display: none;
    }

     .code-container{
        width: auto;
        text-align: left;
    }

    .documentation{
        padding: 1rem;
    }

    .section{
        width: 80%;
        padding: 1rem;
        margin: 3rem auto ;
    }

}

@media only screen and (max-width: 600px) {
    html{
        font-size: 50%;
        /* overflow-x: hidden; */
    }

    .side-nav{
        display: none;
    }

    .documentation{
        padding: 0;
    }

    .code-container{
        width: auto;
        text-align: left;
    }

    .header{
        width: 100%;
    }

    .section{
        width: 90%;
        padding: 2rem;
        /* margin: 2rem auto; */
        /* margin-left: 4rem; */
    }
}

/* ------main end --------  */