@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Work+Sans:wght@300&display=swap');

@import "https://jodd-component-css.netlify.app/component/alert/alert.css";
@import "./Components/Avatar/avatar.css";
@import "./Components/Badge/badge.css";
@import "/Components/Buttons/button.css";
@import "./Components/Card/card.css";
@import "./Components/image/image.css";
@import "./Components/input/input.css";
                    

*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    word-wrap: break-word;
    letter-spacing: 1px;
}

:root{
    --BACKGROUND-COLOR: rgb(255, 255, 255);
    --PRIMARY-COLOR: #010101;
    --SECONDARY-COLOR: #a40ae0;
    --HIGHLIGHT-COLOR: #374151;
    
    --SUCCESS-BACKGROUND_COLOR: #bbf7d0;
    --SUCCESS-COLOR: #015821;
    --DANGER-BACKGROUND_COLOR: #fecaca;
    --DANGER-COLOR: #ef4444;
    --WARNING-BACKGROUND_COLOR: #fde68a;
    --WARNING-COLOR: #9b6100;
    --INFO-BACKGROUND_COLOR: #a5f3fc;
    --INFO-COLOR: #00637a;
    --INDICATOR-GREEN: #10b981;
    --INDICATOR-RED: #f44336;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

img{
    object-fit: cover;
}

.html {
    text-align: left;
}

.code-container{
    width: 100%;
}



/* ------utility-classes------ */
.fs-xl{
    font-size: 4rem;
}

.fs-m{
    font-size: 2rem;
}

.fs-ml{
    font-size: 2.5rem;
}

.fs-l{
    font-size: 3rem;
}

.fs-s{
    font-size: 1.5rem;
}

.mb-2{
    margin-bottom: 2rem;
}

.mb-4{
    margin-bottom: 4rem;
}

.mr-2{
    margin-right: 2rem;
}

.fix-top{
    position: fixed;
    top:0;
}

.d-flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-flex-inline-center{
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.d-inline-block{
    display: inline-block;
}

.d-flex-wrap{
    flex-wrap: wrap;
}


/* -------header start-------- */
.header{
    background-color: var(--PRIMARY-COLOR);
    padding: 2rem;
    width: 100%;
    z-index: 2;
}

.header-nav-link,
.brand-link{
    text-decoration: none;
    color: var(--BACKGROUND-COLOR);
    margin-right: 10rem;
}

.brand-link{
    font-size: 4rem;
    color: var(--SECONDARY-COLOR);
    margin-left: 2rem;
}

.header-nav-link{
    font-size: 2rem;
    margin-right: 2rem;
}

/* -------main start---------------- */
main{
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-areas: 
    "side-nav documentation documentation"
    ;
}

/* ---------side-nav start---------- */
.nav-link > a{
    color: var(--PRIMARY-COLOR);
}

.side-nav{
    grid-area: side-nav;
    padding: 5rem 5rem;
    border-right: 2px solid var(--PRIMARY-COLOR);
    position: sticky;
    top: 7rem;
    overflow-y: scroll;
    height: calc(100vh - 7rem);
}

.nav-link{
    list-style: none;
    margin-bottom: 3rem;
}

.nav-link > a:hover{
    color: var(--SECONDARY-COLOR);
}

/* ------documentation start----- */
.documentation{
    grid-area: documentation;
    padding: 2rem;
}

.section{
    padding: 2rem;
}

.section > p{
    font-weight: lighter;
}

section > *{
    margin-bottom: 3rem;
}

section > iframe{
    margin: 0 auto;
}

.highlight{
    font-weight: bold;
}

@media only screen and (max-width: 900px){
    html{
        font-size: 62.5%;
        overflow-x: hidden;
    }

    main { 
        grid-template-columns: 1fr;
        grid-template-areas: "documentation";
    }

    .side-nav{
        display: none;
    }

    .brand-link{
        margin-left: 0;
        margin-right: 2rem;
    }

     .code-container{
        width: 100%;
        text-align: left;
    }

    .documentation{
        padding: 1rem;
    }

    .section{
        width: 80%;
        padding: 1rem;
    }

    .card{
        max-width: 50%;
    }

}

@media only screen and (max-width: 600px) {
    html{
        font-size: 50%;
        /* overflow-x: hidden; */
    }

    .side-nav{
        display: none;
    }

    main { 
    grid-template-columns: 1fr;
    grid-template-areas: "documentation";
    }

    .documentation{
        padding: 1rem;
    }

    .code-container{
        width: 100%;
        text-align: left;
    }

    .header{
        width: 100%;
    }

    .section{
        width: 90vw;
        padding: 2rem;
        /* margin: 4rem 2rem; */
    }

    .card{
        max-width: 60%;
    }
}

/* ------main end --------  */